img {
    width: 10%;
}

nav {
    margin: 5px 70px 2% 2%;
}

.papelera {
    background-color: white;
    border: none;
}

li {
display: flex;
justify-content: space-between;
flex-direction: row;
}

#listFavorites {
    text-wrap: balance;
    margin-top: 0;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
}